version: '3.7'
services:
  # mysqlサーバー
  demo-db:
    container_name: demo-db
    image: mysql
    volumes:
    - ./docker/mysql/data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: demo-db
      MYSQL_USER: user
      MYSQL_PASSWORD: pass
    ports:
    - 3307:3306
